<style>
h1 {color:black;}
</style>

<h1>Semantic Tree Generator</h1>

This software generates a semantic tree for any standard propositional formula (e.g. (a∨b)∧(c∨d) and (a∨b)→¬(b∨¬(c→b))) 

<form action="/result" method="POST">
    <br>
    Enter a formula by standard propositional logic:
    <input type="text" name="proposition" id="proposition">
    <input type="submit" value="Send">
</form>

Add connectives
<button id="neg" type="button">¬</button>
<button id="dis" type="button">∨</button>
<button id="imp" type="button">→</button>
<button id="con" type="button">∧</button>
<button id="equi" type="button">↔</button>


<script>
document.getElementById("neg").addEventListener(
'click', add_negation, false);

function add_negation() {
    document.getElementById("proposition").value += 
    "¬"
}
</script>

<script>
document.getElementById("dis").addEventListener(
'click', addDisjunction, false);

function addDisjunction() {
    document.getElementById("proposition").value += 
    "∨"
}
</script>

<script>
document.getElementById("imp").addEventListener(
'click', addImplication, false);

function addImplication() {
    document.getElementById("proposition").value += 
    "→"
}
</script>

<script>
document.getElementById("con").addEventListener(
'click', addConjunction, false);

function addConjunction() {
    document.getElementById("proposition").value += 
    "∧"
}
</script>

<script>
    document.getElementById("equi").addEventListener(
    'click', addConjunction, false);
    
    function addConjunction() {
        document.getElementById("proposition").value += 
        "↔"
    }
</script>